@tailwind base;
@tailwind components;
@tailwind utilities;

.cshadow{
    -webkit-box-shadow: 10px 11px 36px -17px rgba(0,0,0,1);
-moz-box-shadow: 10px 11px 36px -17px rgba(0,0,0,1);
box-shadow: 10px 11px 36px -17px rgba(0,0,0,1);
}
.loader{
    background:
        url("./assests/loader.svg") center
        no-repeat;
}